<!DOCTYPE html>
<html>

<head>
    <title>Acompanhamentos de jogos</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th> DATA DO JOGO </th>
                <th colspan='5'> TIMES </th>
                <th> CAMPEONATO </th>
                <th> ESTADIO </th>
                <th> LOCAL </th>
                <th> FASE/RODADA </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25/07/2023 21:30</td>
                <td>CORINTHIANS</td>
                <td>2</td>
                <td>X</td>
                <td>1</td>
                <td>SÃO PAULO</td>
                <td>COPA DO BRASIL 2023</td>
                <td>NEO QUIMICA ARENA</td>
                <td>NEO QUIMICA ARENA</td>
                <td>SEMIFINAL</td>
            </tr>
            <tr>
                <td>30/07/2023 11:00</td>
                <td>SÃO PAULO</td>
                <td>0</td>
                <td>X</td>
                <td>0</td>
                <td>BAHIA</td>
                <td>BRASILEIRÃO 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>11</td>
            </tr>
            <tr>
                <td>03/08/2023 11:00</td>
                <td>SAN LORENZO</td>
                <td>0</td>
                <td>X</td>
                <td>1</td>
                <td>SÃO PAULO</td>
                <td>SULAMERICANA 2023</td>
                <td>ARGENTINA</td>
                <td>ARGENTINA</td>
                <td>OITAVAS DE FINAL </td>
            </tr>
            <tr>
                <td>10/08/2023 11:00</td>
                <td>SÃO PAULO</td>
                <td>2</td>
                <td>X</td>
                <td>0</td>
                <td>SAN LORENZO</td>
                <td>SULAMERICANA 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>OITAVAS DE FINAL </td>
            </tr>
            <tr>
                <td>16/08/2023 19:30</td>
                <td>SÃO PAULO</td>
                <td>2</td>
                <td>X</td>
                <td>0</td>
                <td>CORINTHIANS</td>
                <td>COPA DO BRASIL 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>SEMIFINAL </td>
            </tr>
            <tr>
                <td>24/08/2023 19:00</td>
                <td>LDU</td>
                <td>1</td>
                <td>X</td>
                <td>2</td>
                <td>SÃO PAULO</td>
                <td>SULAMERICANA 2023</td>
                <td>EQUADOR</td>
                <td>EQUADOR</td>
                <td>QUARTAS DE FINAL </td>
            </tr>
            <tr>
                <td>31/08/2023 19:00</td>
                <td>SÃO PAULO</td>
                <td>1</td>
                <td>X</td>
                <td>0</td>
                <td>LDU</td>
                <td>SULAMERICANA 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>QUARTAS DE FINAL </td>
            </tr>
            <tr>
                <td>17/09/2023 16:00</td>
                <td>FLAMENGO</td>
                <td>0</td>
                <td>X</td>
                <td>1</td>
                <td>SÃO PAULO</td>
                <td>COPA DO BRASIL 2023</td>
                <td>MARACANA</td>
                <td>MARACANA</td>
                <td>FINAL </td>
            </tr>
            <tr>
                <td>20/09/2023 21:30</td>
                <td>SÃO PAULO</td>
                <td>1</td>
                <td>X</td>
                <td>2</td>
                <td>FORTALEZA</td>
                <td>BRASILEIRÃO 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>23</td>
            </tr>
            <tr>
                <td>24/09/2023 16:00</td>
                <td>SÃO PAULO</td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>FLAMENGO</td>
                <td>COPA DO BRASIL 2023</td>
                <td>MORUMBI</td>
                <td>MORUMBI</td>
                <td>FINAL </td>
            </tr>
        </tbody>
    </table>
</body>

</html>